.circle_1{
    height: 800px;
    width: 800px;
    border-radius: 50%;
    position: absolute;
    top: -40%;
    left: -15%;
    background-color: #FF4656;
    
}
.circle_2{
    height: 650px;
    width: 650px;
    border-radius: 50%;
    background-color: #292C31;
    position: absolute;
    right: -15%;
    bottom: -35%;
    transition: 0.5s ease;
}
.circle_3{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    background-color: #EFEFEF;
    top: 85%;
    left: 5%;
    transition: 0.5s ease;
}
.circle_4{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    background-color: #505155;
    top: 85%;
    left: 3%;
    transition: 0.5s ease;
}
.circle_5{
    height: 135px;
    width: 135px;
    border-radius: 50%;
    position: absolute;
    background-color: #EFEFEF;
    right: 3%;
    top: 13%;
    transition: 0.5s ease;
}
.circle_6{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    background-color: #505155;
    right: 4%;
    top: 34%;
    transition: 0.5s ease;
}
.circle_7{
    height: 26px;
    width: 26px;
    border-radius: 50%;
    position: absolute;
    background-color: #FF4656;
    right: 8%;
    top: 7%;
}