body{
    padding: 0;
    margin: 0;
    overflow: hidden; 
}
.main-page{
    width: 100%;
    display: flex;
    background-color: #1e2024;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}




.layer-opacity {
    background-color:  rgba(117, 190, 218, 0.5) !important;
    transition: opacity 0.5s ease; 
}

.main-page ~ .layer {
    display: none;
}

.main-page ~ .layer-opacity {
    display: flex;
}



.text-rotate{
    position: absolute;
    color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke: 1px #fff;
    font-weight: 900;
    font-size: 100px;
    z-index: 8723597825703;
    left:-70px;
    top: 160px;
    color: transparent;
    transform: rotate(90deg);
}

